html, body, #asteroids {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Press Start 2P", system-ui, sans-serif;
  font-size: 18px;
  font-style: normal;
}

#asteroidsSVG {
  position: absolute;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  z-index: 100;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #20960b;
}

header div { 
  margin: 0 50px;
}

#gameOver, #titleScreen {
  position: absolute;
  color: #20960b;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  text-align: center;
}

#controls {
  width: 75%;
}

#controlList {
  list-style: none;
}

#titleScreen {
  display: flex;
}

#gameOver {
  display: none;
}
